$nt-pink: #cc1857;
$nt-dark-pink: #8d0f3b;
$nt-blue: #1A73E7;
$nt-dark-blue: #0d4894;
$nt-yellow: #FB8E03;
$nt-dark-yellow: #bd6b01;
$nt-white: #DEE2E8;
$nt-gray: #9b9ea3;
$nt-dark-gray: #323136;
$nt-black: #161518;
$nt-text: #243450;

